<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <title>Match Makr</title>
    <link rel="icon" type="image/png" href="https://s3-us-west-2.amazonaws.com/rentmasters/RM-favicon.png">
    <!--     <link rel="icon" type="image/png" href="../assets/RM-favicon.png"> -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <meta name="description" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
         <!-- CSS============================================== -->

         <!-- GOOGLE ANALYTICS TRACKING SHOULD GO BELOW -->
         
  </head>
<body>

<header id="section_header" class="navbar-fixed-top main-nav" role="banner">
        <div class="container">
            <!-- <div class="row"> -->
                 <div class="navbar-header ">
                        <button type="button" class="navbar-toggle fl-r" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only"> navigation</span>
                            <span class="icon-bar">___</span>
                            <span class="icon-bar">___</span>
                            <span class="icon-bar">___</span>
                        </button>
                        <a class="navbar-brand" href="/index">
                            <!-- <img src="assets/rm-logo.jpg" alt="RentMasters.co" id="header-logo"/> -->
                            <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQz5I4PhTnZ8rEIr5iyAtkRDh1St9zclk2dRF5lMGnb7fuCjKeWCQ" id="header-logo"/>
                        </a>
                 </div><!--Navbar header End-->
                    <nav class="collapse navbar-collapse navigation" id="bs-example-navbar-collapse-1" role="navigation">
                        <ul class="nav navbar-nav navbar-right ">
                            <li class="active"><a href="/passengers/new" class="page-scroll">Sign up </a> </li>
                            <li><a href="/#how-it-works" class="page-scroll">How It Works </a></li>
                            <li><a href="/#pricing" class="page-scroll" >Pricing</a> </li>
                            <li><a href="/#faqs"  class="page-scroll">FAQs</a> </li>
                            <li><a href="/#about" class="page-scroll">About Us</a> </li>
                            <li><a href="/#contact" class="page-scroll">Contact Us</a> </li>
                        </ul>
                     </nav>
                </div><!-- /.container-fluid -->
</header>

<div class="vertical_space cl-b"> </div>
